src/main/resources/schematron/mets_dmd_rules.xml

<schema xmlns="http://purl.oclc.org/dsdl/schematron">
  <ns prefix="mets" uri="http://www.loc.gov/METS/" />
  <ns prefix="csip" uri="https://DILCIS.eu/XML/METS/CSIPExtensionMETS"/>
  <ns prefix="xlink" uri="http://www.w3.org/1999/xlink" />
  <pattern id="METS_descriptive_metadata_element">
    <title>Use of the METS descriptive metadata section.</title>
    <rule context="/mets:mets/mets:dmdSec">
      <assert id="CSIP18" role="ERROR" test="@ID">Mandatory, identifier must be unique within the package.</assert>
      <assert id="CSIP19" role="ERROR" test="@CREATED">Mandatory, creation date of the descriptive metadata in this section.</assert>
      <assert id="CSIP20" role="WARN" test="@STATUS">SHOULD be used to indicated the status of the package.</assert>
      <assert id="CSIP21" role="WARN" test="mets:mdref">SHOULD provide a reference to the descriptive metadata file located in the “metadata” section of the IP..</assert>
    </rule>
    <rule context="/mets:mets/mets:dmdSec/mets:mdref">
      <assert id="CSIP22" role="ERROR" test="@LOCTYPE = 'URL'">The locator type is always used with the value “URL” from the vocabulary in the attribute.</assert>
      <assert id="CSIP23" role="ERROR" test="@xlink:type = 'simple'">Attribute used with the value “simple”. Value list is maintained by the xlink standard.</assert>
      <assert id="CSIP24" role="ERROR" test="@xlink:href">The actual location of the resource. This specification recommends recording a URL type filepath in this attribute.</assert>
      <assert id="CSIP25" role="ERROR" test="@MDTYPE">Specifies the type of metadata in the referenced file. Values are taken from the list provided by the METS.</assert>
      <assert id="CSIP26" role="ERROR" test="@MIMETYPE">MUST hold the IANA mime type of the referenced file.</assert>
      <assert id="CSIP27" role="ERROR" test="@SIZE">MUST hold the size of the referenced file in bytes.</assert>
      <assert id="CSIP28" role="ERROR" test="@CREATED">MUST hold the creation date of the referenced file.</assert>
      <assert id="CSIP29" role="ERROR" test="@CHECKSUM">MUST hold the checksum of the referenced file.</assert>
      <assert id="CSIP30" role="ERROR" test="@CHECKSUMTYPE">MUST hold the algorithm type of checksum of the referenced file.</assert>
    </rule>
  </pattern>
</schema>
