src/main/resources/schematron/mets_root_rules.xml

<schema xmlns="http://purl.oclc.org/dsdl/schematron" >
  <ns prefix="mets" uri="http://www.loc.gov/METS/" />
  <ns prefix="csip" uri="https://DILCIS.eu/XML/METS/CSIPExtensionMETS"/>
  <pattern id="METS_root_element">
      <title>Validate METS root element.</title>
      <rule context="/mets:mets">
        <assert id="CSIP1" role="ERROR" test="@OBJID">The mets/@OBJID attribute is mandatory, its value is a string identifier for the METS document. For the package METS document, this should be the name/ID of the package, i.e. the name of the package root folder. For a representation level METS document this value records the name/ID of the representation, i.e. the name of the top-level representation folder.</assert>
        <assert id="CSIP2" role="ERROR" test="@TYPE">The mets/@TYPE attibute MUST be used to declare the category of the content held in the package, e.g. book, journal, stereograph, video, etc.. Legal values are defined in a fixed vocabulary.</assert>
        <assert id="CSIP3" role="WARN" test="(@TYPE = 'OTHER' and @csip:OTHERTYPE) or @TYPE != 'OTHER'">When the content category used falls outside of the defined vocabulary the mets/@TYPE value must be set to “OTHER” and the specific value declared in mets/@csip:OTHERTYPE. The vocabulary will develop under the curation of the DILCIS Board as additional content information type specifications are produced.</assert>
        <assert id="CSIP4" role="WARN" test="@csip:CONTENTINFORMATIONTYPE">Used to declare the Content Information Type Specification used when creating the package. Legal values are defined in a fixed vocabulary. The attribute is mandatory for representation level METS documents.</assert>
        <assert id="CSIP5" role="ERROR" test="not(@csip:CONTENTINFORMATIONTYPE) or (@csip:CONTENTINFORMATIONTYPE = 'OTHER' and @csip:OTHERCONTENTINFORMATIONTYPE) or @csip:CONTENTINFORMATIONTYPE != 'OTHER'">When the mets/@csip:CONTENTINFORMATIONTYPE has the value “OTHER” the mets/@csip:OTHERCONTENTINFORMATIONTYPE must state the content information type.</assert>
        <assert id="CSIP6" role="ERROR" test="@PROFILE">The PROFILE attribute MUST contain the URL of the METS profile that the information package conforms with.</assert>
        <assert id="CSIP17" role="WARN" test="mets:dmdSec">Must be used if descriptive metadata about the package content is available. NOTE: According to official METS documentation each metadata section must describe one and only one set of metadata. As such, if implementers want to include multiple occurrences of descriptive metadata into the package this must be done by repeating the whole dmdSec element for each individual metadata.</assert>
        <assert id="CSIP31" role="WARN" test="mets:amdSec">If administrative / preservation metadata is available, it must be described using the administrative metadata section (amdSec) element. All administrative metadata is present in a single amdSec element.</assert>
        <assert id="CSIP58" role="WARN" test="mets:fileSec">The transferred content is placed in the file section in different file group elements, described in other requirements.</assert>
        <assert id="CSIP80" role="ERROR" test="mets:structMap">Each METS file must include ONE structural map structMap element used exactly as described here.</assert>
        <assert id="CSIP117" role="ERROR" test="mets:metsHdr">There MUST be a general element that describes the package.</assert>
      </rule>
  </pattern>
</schema>
